
.table{
        border: 10px solid red; 
        width: 500px;
        height: 500px;
       
    }
    h1 {
        color: black;
    }
    .days{
        color: white;
        font-size: 35pt;
    }
    td:nth-child(6n){
        color: blue;
    }
    td:nth-child(7n){
        color: blue;
            }
    td{
        font-size: 20pt;
        color: white;
    }
    .data:hover {
        border:5px solid red;

    }