.clear{
    clear: both;
}
#calendar{
    background: url(img/1.jpg) no-repeat;
    border: rgb(230, 140, 6) 10px solid;
    width: 700px;
    background-size: 100% 100%;
}
.calendar {
    position: fixed; 
    top: 25px;
    left: 20%;         
    }    

.calendar-title{
    text-align: center;
    
}

.week-name{
    float: left;
    width: 100px;
    text-align: center;
    text-decoration-color;:black;
    font-size: 30px;
    margin: 0 auto;
    padding-top:15px;
    text-transform:uppercase;
   
}
.rest-day{
    color:red;
}


.month-data .day{
    float: left;
    width: 100px;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    
}

.month-data .day.today{
    color: blue;
    
}
.day:hover{
    background-color: royalblue;
}